@font-face {
  font-family: Circular;
  src: url("https://sp-bootstrap.global.ssl.fastly.net/8.12.4/fonts/circular-light.woff2") format("woff2"), url("https://sp-bootstrap.global.ssl.fastly.net/8.12.4/fonts/circular-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}

html{
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body, html, #root{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Circular', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff; 

}